<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Projektarbeit_TCP_Server.Programm" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    
    <!--E-Mail Server Settings-->
    
    <add key="email_email"/>
    <add key="email_server_adress"/>
    <add key="email_server_port"/>
    <add key="email_login_username"/>
    <add key="email_login_password"/>
    <add key="email_path_activation_code"/>
    <add key="email_path_forgot_password"/>
    <add key="email_path_class_invite"/>
  
    <!--Datenbank Server Settings-->
  
    <add key="datenbank_server_adress"/>
    <add key="datenbank_datenbank"/>
    <add key="datenbank_login_username"/>
    <add key="datenbank_login_password"/>

    <!--TCP Server Settings-->
  
    <add key="tcpserver_certificate_path"/>
    <add key="tcpserver_certificate_password"/>
    <add key="tcpserver_port"/>
  
  </appSettings>
</configuration>
